#balance-negative {
    display: inline;
    float: right;
    margin: 10px;
    font-size: large;
    color: red;
}

#balance-positive {
    display: inline;
    float: right;
    margin: 10px;
    font-size: large;
    color: green;
}