#header {
  background-color: #e7eaf6;
}

.link {
  font-size: x-large;
  display: inline;
  margin: 10px;
}

#main-container {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
